body {
  min-width: 800px; }
  body .glyphiconImage {
    height: 18px; }
  body .externalLink {
    font-style: italic; }
  body header h1 {
    padding-left: 10px; }
  body .content-body {
    margin-bottom: 100px; }
    body .content-body .contentNav {
      float: left;
      padding: 10px; }
      body .content-body .contentNav .nav {
        width: 200px; }
    body .content-body .page {
      display: none;
      margin-left: 225px;
      margin-right: 25px;
      padding: 10px; }
      body .content-body .page .subPageHeader {
        margin-top: 0; }
      body .content-body .page .contentHeader {
        font-weight: bold;
        margin-top: 20px; }
      body .content-body .page ul.contentBulletList li:first-letter {
        text-transform: uppercase; }
    body .content-body .page.active {
      display: block; }
    body .content-body #examples #exampleNav button {
      outline: none; }
    body .content-body #examples .exampleItem {
      display: none; }
      body .content-body #examples .exampleItem .date {
        float: right;
        font-style: italic;
        padding: 0 10px; }
      body .content-body #examples .exampleItem .exampleDetails {
        padding: 0 10px; }
        body .content-body #examples .exampleItem .exampleDetails .exampleStats .technologies {
          padding-left: 10px; }
          body .content-body #examples .exampleItem .exampleDetails .exampleStats .technologies .prefix {
            font-weight: bold; }
        body .content-body #examples .exampleItem .exampleDetails .update {
          border-left: 3px solid #aaa;
          padding-left: 5px;
          margin-left: 10px; }
          body .content-body #examples .exampleItem .exampleDetails .update .updateDate {
            font-weight: bold; }
        body .content-body #examples .exampleItem .exampleDetails .disclaimer {
          font-style: italic; }
        body .content-body #examples .exampleItem .exampleDetails .exampleLink {
          font-weight: bold; }
    body .content-body #about .workHistory {
      margin: 0; }
      body .content-body #about .workHistory .workDataPoint {
        list-style: none;
        margin: 0;
        padding: 5px; }
        body .content-body #about .workHistory .workDataPoint .name {
          display: block;
          font-size: 125%;
          font-weight: bold;
          margin-left: -20px; }
          body .content-body #about .workHistory .workDataPoint .name .title {
            display: inline-block;
            width: 185px; }
          body .content-body #about .workHistory .workDataPoint .name .classification {
            color: #888;
            font-size: 75%; }
          body .content-body #about .workHistory .workDataPoint .name .classification:before {
            content: '('; }
          body .content-body #about .workHistory .workDataPoint .name .classification:after {
            content: ')'; }
        body .content-body #about .workHistory .workDataPoint .role {
          display: inline-block;
          font-weight: bold; }
        body .content-body #about .workHistory .workDataPoint .dates {
          display: inline-block;
          color: #888;
          padding: 0 10px; }
        body .content-body #about .workHistory .workDataPoint .technologies {
          display: block; }
        body .content-body #about .workHistory .workDataPoint .libraries {
          display: block; }
  body footer {
    background-color: #ddd;
    border-top: 1px solid #aaa;
    bottom: 0;
    left: 0;
    padding: 5px;
    position: fixed;
    text-align: center;
    width: 100%; }
    body footer .siteMap .subNav {
      list-style: none;
      padding: 0; }
      body footer .siteMap .subNav .navItem {
        display: inline-block; }
      body footer .siteMap .subNav .navItem:before {
        content: ' | '; }
      body footer .siteMap .subNav .navItem:first-child:before {
        content: ''; }
