// Default (desktop)
body {
  // Media-only classes
  .BIG_SCREENS_ONLY {
    display: block;
  }
  .SMALL_SCREENS_ONLY {
    display: none;
  }

  .glyphiconImage {
    height: 18px;
  }
  .externalLink {
    display: inline-block;
    font-style: italic;
  }
  .floatClear {
    clear: both;
  }

  header {
    h1 {
      padding-left: 10px;
    }
  }

  .contentBody {
    margin-bottom: 100px;

    .contentNav {
      display: block;
      float: left;
      padding: 10px;

      .nav {
        width: 200px;
      }
    }
    .page {
      display: none;
      margin-left: 225px;
      margin-right: 25px;
      padding: 10px;

      .subPageHeader {
        margin-top: 0;

        small {
          display: inline;
        }
      }

      .contentHeader {
        font-weight: bold;
        margin-top: 20px;
      }

      .contentImage {
        padding: 5px;
      }
      .contentImage.left {
        float: left;
      }
      .contentImage.right {
        float: right;
      }

      ul.contentBulletList {
        li:first-letter {
          text-transform: uppercase;
        }
      }
    }
    // temporary active class to help with initial load; JS should remove this once it's hooked in
    .page.active {
      display: block;
    }

    #examples {
      #exampleNav button {
        margin: 2px;
        outline: none;
      }

      .exampleItem {
        display: none;

        .dateRight, .dateUnder {
          font-style: italic;
        }
        .dateRight {
          float: right;
          padding: 0 10px;
        }
        .dateUnder {
        }

        .exampleDetails {
          padding: 0 10px;

          .exampleStats {
            .technologies {
              padding-left: 10px;

              .prefix {
                font-weight: bold;
              }
            }
          }
          .update {
            border-left: 3px solid #aaa;
            padding-left: 5px;
            margin-left: 10px;

            .updateDate {
              font-weight: bold;
            }
          }
          .disclaimer {
            font-style: italic;
          }
          .exampleLink {
            font-weight: bold;
          }
        }
      }

      .exampleItem.startingText {
        display: block;
        padding: 10px;
      }
    }

    #about {
      .workHistory {
        margin: 0;

        .workDataPoint {
          list-style: none;
          margin: 0;
          padding: 5px;

          .name {
            display: block;
            font-size: 125%;
            font-weight: bold;
            margin-left: -20px;

            .title {
              display: inline-block;
              width: 185px;
            }

            .classification {
              color: #888;
              font-size: 75%;
            }
            .classification:before {
              content: '(';
            }
            .classification:after {
              content: ')';
            }
          }
          .role {
            display: inline-block;
            font-weight: bold;
          }
          .dates {
            display: inline-block;
            color: #888;
            padding: 0 10px;
          }
          .technologies {
            display: block;

          }
          .libraries {
            display: block;

          }
        }
      }
    }
  }

  footer {
    background-color: #ddd;
    border-top: 1px solid #aaa;
    bottom: 0;
    left: 0;
    padding: 5px;
    position: fixed;
    text-align: center;
    width: 100%;

    .siteMap {
      .subNav {
        list-style: none;
        padding: 0;

        .navItem {
          display: inline-block;
        }
        .navItem:before {
          content: ' | ';
        }
        .navItem:first-child:before {
          content: '';
        }
      }
    }
  }
}

// Smaller devices (ie. mobile)
@media screen and (max-width: 800px) {
  body {
    .BIG_SCREENS_ONLY {
      display: none;
    }
    .SMALL_SCREENS_ONLY {
      display: block;
    }

    .contentBody {
      .contentNav {
        display: none;
      }

      .page {
        margin-left: 10px;
        margin-right: 10px;

        .subPageHeader {
          small {
            display: block;
          }
        }
      }
    }
  }
}